body {
  background-color: rgb(15, 15, 15);
  margin: 0;
  padding: 0;
  color: white;
}

.main {
  nav {
    top: 0;
    position: sticky;
  
    ul {
      background-color: rgb(30, 30, 30);
      margin: 0;
      padding: 0;
      height: 60px;

      list-style-type: none;
      font-size: 26px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      li a {
        text-decoration: none;
        color: white;

        &:hover {
          color: rgb(245, 249, 18);
        }
      }
    }
  }

  .content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}